/* background */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.pagelayout {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.navigation {
  width: 16%;
  height: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  background: linear-gradient(to bottom, #48e689, #5b44df);
  z-index: 100;
}

.logowrap {
  position: relative;
  margin: 30px 4%;
  background-color: #041230;
  padding-bottom: 0px;
  padding-right: 14.5vw;
  margin-bottom: 30px;
  box-sizing: border-box;
}

.line {
  position: relative;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin-bottom: 30px;
}

.logowrap img {
  width: 14.5vw;
}

.navigation ul {
  list-style-type: none;
  margin: 30px 20%;
}

.navigation li {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.navigation a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
  color: #fff;
  transition: all 0.3s ease;
}

.navigation a:before {
  position: absolute;
  content: "";
  height: 2px;
  width: 0px;
  background-color: #e3872d;
  top: 14px;
  /* transform: translateY(-50%); */
  left: 100%;
  margin-left: 10px;
  transition: all 0.3s ease;
}

.navigation a:hover {
  color: #e3872d;
  text-decoration: none;
}

.navigation a:hover:before {
  width: 35px;
}

.socialmedia {
  height: 30%;
  display: flex;
  align-items: flex-end;
}

.socialmedia ul li {
  padding: 0;
  margin: 0;
}

.parallax {
  position: relative;
  top: 0;
  left: 15%;
}

.parallaxinner {
  background-image: url(public/goldengatebridge.jpeg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: 85%;
  padding: 18% 0;
  text-align: center;
}

.swdev {
  width: 15%;
  border: 8px solid rgba(255, 255, 255, 0.5);
}

.first {
  text-transform: uppercase;
  color: white;
  font-size: 3rem;
  font-weight: 700;
}

.last {
  color: orange;
}

/* content */
/* ----------------------ABOUT ME---------------------------- */
.maincontent {
  position: relative;
  left: 15%;
  width: 85%;
  background-color: white;
}

.blue {
  padding: 10% 20%;
  background-color: #f6f7fd;
  display: flex;
}

.white {
  padding: 5% 20%;
  display: flex;
}

.leftcontent {
  width: 30%;
  height: 100%;
}

.rightcontent {
  width: 70%;
  padding-left: 10%;
  height: 100%;
}

.titleportion {
  font-size: 4rem;
  margin: 0;
  position: relative;
}

.titleportion div {
  font-size: 1rem;
  margin-bottom: 20%;
}

.titleportion::before {
  position: absolute;
  content: "";
  width: 7px;
  height: 100%;
  background: linear-gradient(to bottom, #48e689, #5b44df);
  left: -20px;
}

.aboutmegif {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.intro {
  font-size: 2rem;
  margin: 5% 0;
}

.aboutme .rightcontent p {
  line-height: 1.8;
  letter-spacing: 0.5px;
  font-weight: 400;
}

.aboutme .rightcontent p strong {
  color: #48e689;
}

.personal-info {
  display: flex;
  line-height: 1.8;
  letter-spacing: 0.5px;
  font-weight: 400;
  padding: 5% 0;
}

.personal-info ul {
  list-style: none;
}

.personal-info .personalleft {
  width: 50%;
}

.personal-info .personalright {
  width: 50%;
}

.resume {
}

/* -----------------------SKILLS---------------------------- */
.blue .rightcontent {
  padding-top: 0;
}

.left-skills {
  line-height: 1.5;
  letter-spacing: 0.5px;
  font-weight: 400;
  width: 95%;
}

.skills-container {
  margin-top: 5px;
  margin-bottom: 15px;
  width: 100%;
  background-color: #ddd;
}

.bars {
  text-align: right;
  padding-top: 3px;
  padding-bottom: 3px;
  color: white;
}

.word {
  width: 75%;
  background-color: #000000;
  border-radius: 5px;
}

.css {
  width: 40%;
  background-color: #000000;
  border-radius: 5px;
}

.fetch {
  width: 25%;
  background-color: #000000;
  border-radius: 5px;
}

.react {
  width: 30%;
  background-color: #000000;
  border-radius: 5px;
}

.redux {
  width: 25%;
  background-color: #000000;
  border-radius: 5px;
}

.nextjs {
  width: 20%;
  background-color: #000000;
  border-radius: 5px;
}

.cplus {
  width: 25%;
  background-color: #000000;
  border-radius: 5px;
}

.leadership {
  width: 70%;
  background-color: #000000;
  border-radius: 5px;
}

.communication {
  width: 80%;
  background-color: #000000;
  border-radius: 5px;
}

.solve {
  width: 75%;
  background-color: #000000;
  border-radius: 5px;
}

/* -----------------------Projects---------------------------- */

.whiteproject {
  padding: 5% 10%;
}
.projects {
  width: 100%;
}

.projects .titleportion div {
  margin-bottom: 5%;
}

/* .app {
  align-items: left;
  border: solid #fb5283;
  border-radius: 20px;
  overflow: hidden;
} */

.app {
  text-align: center;
  margin-bottom: 50px;
}

.each {
  width: 350px;
  height: 270px;
  margin-bottom: 15px;
}

.description {
  width: 350px;
  height: 100px;
  margin: auto;
  text-align: left;
}

.hardsoftskills {
  text-align: center;
}

.button {
  text-decoration: none;
  border: none;
  overflow: hidden;

  position: relative;
  list-style-type: none;
}

.button:hover {
  cursor: pointer;
  text-decoration: none;
}

.button a:hover {
  text-decoration: none;
}

.button a span {
  color: #fff;
  position: relative;
  z-index: 2;
}

.button a {
  text-decoration: none;
  color: #fff;
  background-color: #e3872d;
  font-weight: 600;
  font-family: "Montserrat";
  padding: 12px 35px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
}

.button a::before {
  position: absolute;
  content: "";
  top: 0px;
  height: 100%;
  left: -25%;
  width: 0%;
  background-color: #041230;
  transform: skew(50deg);
  transition-duration: 0.7s;
  z-index: 1;
}

.button a:hover::before {
  width: 180%;
}

@media only screen and (max-width: 1500px) {
  .navigation {
    display: none;
  }
  .parallax {
    left: 0;
  }
  .parallaxinner {
    width: 100%;
  }
  .swdev {
    width: 200px;
  }
  .projects {
    text-align: center;
    width: 200px;
    margin: auto;
    margin-bottom: 50px;
  }
  .titleportion {
    font-size: 3rem;
  }
  .maincontent {
    left: 0;
    width: 100%;
  }
  .each {
    display: block;
    margin: auto;
    width: 350px;
    height: 270px;
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 1200px) {
  .white {
    display: block;
    padding: 5% 10%;
  }
  .blue {
    display: block;
    padding: 5% 10%;
  }
  .leftcontent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .titleportion {
    margin: 0 30px 20px 0;
  }
  .titleportion div {
    margin: 0;
  }
  .aboutmegif {
    width: 150px;
  }
  .rightcontent {
    width: 100%;
    padding-left: 0;
  }
  .intro {
    font-size: 1.8rem;
  }
  .left-skills {
    width: 100%;
    margin-right: 0;
  }
}

@media only screen and (max-width: 769px) {
  .leftcontent {
    justify-content: center;
    display: block;
  }
  .aboutmegif {
    display: none;
  }
  .titleportion {
    margin-right: 0;
  }
  .leftcontent p {
    width: 100%;
    margin-right: 0;
  }
}

@media only screen and (max-width: 550px) {
  .personal-info {
    display: block;
    font-size: 0.8rem;
  }
  .rightcontent p {
    font-size: 0.8rem;
    width: 100%;
  }
  .intro {
    font-size: 1.5rem;
  }
  .left-skills {
    font-size: 0.8rem;
  }
  b {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 450px) {
  .whiteproject .titleportion {
    font-size: 2rem;
    text-align: left;
  }
  .projects {
    margin: 0 0 30px 0;
  }
  .each {
    margin: auto;
    width: 169px;
    height: 150px;
    margin-bottom: 15px;
  }
  .description {
    width: 180px;
    height: 100px;
    margin: auto;
    text-align: left;
    font-size: 0.8rem;
  }
}
